/******************************************************************
 * styles.css
 *
 * Author: Jeanderson Candido - http://jeandersonbc.github.io
 * Date:   10-MAY-2014
 *****************************************************************/
@import url(reset.css);
@import url(http://fonts.googleapis.com/css?family=Roboto:400,700);

body {
    font-family: 'Roboto', sans-serif;
}
.expandable-header, .sub-expandable-header {
    width: 100%;
}
.header-content {
    text-align: center;
    padding-top: 50px;
}
.header-content, .expandable-header { background-color: black; }
.header-content h1 {
    color: white;
}
.expandable-header li {
    display: inline-block;
    list-style-type: none;
    margin-left: 40px;
    margin-bottom: 15px;
}
.header-content a:hover { color: rgba(5, 255, 55, 0.5); }
.header-content a {
    color: rgb(5, 255, 55);
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: bold;
}
.sub-header-content, .expandable-sub-header {
    background-color: rgb(220,220,190);
    padding: 12px 0px;
    color: gray;
    text-align: center;
}
.header-content, .sub-header-content, .page-content, .page-footer {
    width: 700px;
    margin: 0 auto;
}
.page-content { padding: 20px 0px; }
.article { margin: 30px 0px; }
.article h1 {
    letter-spacing: 1px;
    border-bottom: 1px dashed black;
    font-weight: 400;
}
.article p {
    padding: 10px 0px;
}
.article a:hover {
    color: rgb(0, 150, 20);
}
.article a {
    font-weight: bold;
    color: rgb(10, 210, 50);
}
.page-footer {
    border-top: 1px solid black;
}
.footer-info {
    letter-spacing: 1px;
    font-size: 10pt;
    padding: 10px;
    text-align: center;
}
#quotation {
    text-align: justify;
    font-style: italic;
    width: 500px;
    margin: 0 auto;
}
#author {
    font-style: normal;
    text-align: right;
    font-size: 9pt;
}
.signature {
    font-size: 8pt;
    color: gray;
    float:right;
}
.signature a { color: gray };
