/******************************************************************
 * styles.css
 *
 * Author: Jeanderson Candido - http://jeandersonbc.github.io
 * Date:   10-MAY-2014
 *****************************************************************/
@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,100);

* {
    margin: 0px;
    padding: 0px;
    font-size: 14pt;
}

body {
    font-family: Roboto, Arial;
    font-weight: 300;
    letter-spacing: 1px;
}
.container {
    padding: 15px;
}
header {
    margin: 30px 0px;
}
header h1 {
    font-size: 44pt;
    letter-spacing: 0px;
    font-weight: 100;
}
#headline {
    background-image: url(../images/cover.jpg);
    background-size: cover;
}

#headline h1, #headline h2, #headline p, #headline ul {
    color: white;
    text-align: left;
    margin: 0px;
}
#headline h2 {
    font-size: 12pt;
    font-weight: 400;
}
#headline p {
    margin: 20px 0px;
    letter-spacing: 1px;
}
ul {
    padding-left: 35px;
}
#headline img {
    width: 180px;
    height: 180px;
    border-radius: 90px;
    -webkit-border-radius: 90px;
    -moz-border-radius: 90px;
    box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
}
.image {
    text-align: center;
}
.container h2 {
    margin: 20px 0px;
    font-weight: 300;
    text-align: center;
    font-size: 32pt;
}

.school-description {
    margin: 10px 0px;
}
.school-description h1 {
    font-size: 12pt;
}

#section2 {
    background-color: #e9e9e9;
}
.experience-item {
    padding-bottom: 30px;
}
.experience-item h2 {
    font-size: 12pt;
    text-align: left;
    padding: 0px;
    margin: 0px;
}
#section3 {
    background-color: #f5f5f5;
}
#section4 {
    background-color: black;
    color: white;
    padding-bottom: 30px;
    text-align: center;
}
