/** { outline: 1px solid red; }*/
@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed|Roboto+Slab|Roboto+Mono|Roboto");

body {
  font-family: "Roboto", sans-serif;
  padding-top: 70px;
}

div#header .headline {
  max-width: 460px;
}

h1, h2, h3, h4, div#header .headline .item {
  text-transform: uppercase;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: bold;
  display: inline-block;
}

p {
  font-family: "Roboto Slab", sans-serif;
}

div#page-main-content {
  border-right: 1px dashed #e7e7e7;
}

div#header .headline .item {
  letter-spacing: 2px;
  font-size: 14pt;
}

ul.info-list {
  list-style-type: none;
  padding-left: 0px;
  font-size: 9pt;
  margin-bottom: 10px;
}

ul.info-list h3 {
  text-transform: capitalize;
  margin-top: 10px;
}

ul.info-list .icon-column {
  display: inline-block;
  text-align: center;
  width: 15px;
}

div#profile-picture {
  margin: 20px 20px 0px 20px;
}

div#profile-picture img {
  margin: 0 auto;
}
